<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Onesecret - Start page</title>
</head>
<body>
<div class="main" align="center" style="font-size: 25px;">
    <h1>Это стартовая страница проекта</h1> <br><br><br>

    <h2>API имеет следующие методы:</h2>

    <b>/generate</b>: генерирует секрет: в запросе принимает секрет{secret}, парольную фразу{passphrase}, срок хранения{time_to_live} и возвращает secret_key.<br><br>

    <i>Пример тела запроса</i>:<br>
    {
    "secret": "некоторые секретные вещи",
    "passphrase: "мой секрет",
    "time_to_live": 1000 // минут, макс=100000, по умолчанию=43200(2 месяца)
    }
    <br><br>
    <b>/secrets/{passphrase}></b>: принимает парольную фразу в запросе URL-адреса и возвращает секрет
    <b>/secrets/{secret_key}></b>: принимает секретный ключ в запросе URL и возвращает секрет
</div>
</body>
</html>
